<%= javascript_pack_tag 'autofill' %>

<div class="input-group mb-3">
  <input type="text" class="form-control google-autofill" placeholder="Search by postcode or address" aria-label="Address search" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button"><span class="material-icons">search</span></button>
  </div>
</div>