<%= javascript_pack_tag 'autofill' %>

  <div class="field">
    <%= form.label :address %><br />
    <%= form.text_field :address, autofocus: true, autocomplete: "address", value: default_address, class: "google-autofill" %>
  </div>
