<div class="chatroom-card">
  <%= render partial: 'shared/profile_pic', locals: { user: other_user } %>
  <span>
    <p> <%= other_user.public_name %></p>
    <% if other_user.has_role? :owner %>
      <p> <%= "#{other_user.printers[0].printer_brand} #{other_user.printers[0].printer_model}" %></p>
    <% end %>
  </span>
</div>