<%# card to display filament details on registrations show page and registrations edit page %>
<div class="printer-filament-card">
  <span class='filament-details'>
    <span>
      <div><%= filament.filament_brand %></div>
      <div><%= filament.filament_type %></div>
    </span>
    <span>
      <div><%= filament.filament_color %></div>
    </span>

  <%# if on the registrations edit page, add a delete button to the filament card %>
  </span>
  <% if controller.controller_name == 'registrations' && controller.action_name == 'edit' %>
    <span>
      <%= button_to filament_path(filament), method: :delete, class: "delete-button btn" do %>
        <span class="material-icons">delete</span>
      <% end %>
    </span>
  <% end %>
</div>