<%# card to display printer details on registrations show page and registrations edit page %>
<div class="printer-filament-card">
  <span class='printer-details'>
    <div><%= printer.printer_brand %></div>
    <div><%= printer.printer_model %></div>
    <div><%="(#{printer.printer_type})"%></div>
  </span>
  <span>

  <%# if on the registrations edit page, add a delete button to the printer card %>
  <% if controller.controller_name == 'registrations' && controller.action_name == 'edit' %>
    <%= button_to printer_path(printer), method: :delete, class: "delete-button btn" do %>
      <span class="material-icons">delete</span>
    <% end %>
  <% end %>
  </span>
</div>