<% if user.profile_pic.attached? %>
  <div class="profile-pic pic-and-placeholder">
    <%= cl_image_tag user.profile_pic.key, crop: :scale, width: 200, cloud_name: 'sazza'%>
  </div>
<% else %>
  <div class="placeholder-profile-pic pic-and-placeholder">
    <span class="material-icons">tag_faces</span>
  </div>
<% end %>