<%# card to display review information %>
<div id="review-card">
  <%= render partial: 'shared/star_rating', locals: { average_rating: review.rating, reviews: nil } %>
  <p>"<%= review.content %>"</p>
  <i>- <%= review.reviewer.public_name.capitalize %></i>
</div>

