<span class="star-rating">
  <% (average_rating.to_i).times do |i| %>
    <span class="material-icons full-star">star</span>
  <% end %>

  <% unless (average_rating % 1).zero? %>
    <span class="fraction-star">
      <div class="material-icons base-star">star</div>
      <div class="top-star-container" style="width: calc(var(--star-size) * <%= average_rating % 1 %>);">
        <div class="material-icons top-star">star</div>
      </div>
    </span>
  <% end %>

  <% (5 - average_rating.ceil).times do |i| %>
    <span class="material-icons grey-star">star</span>
  <% end %>

  <% unless reviews.nil? %>
    <div class="num-reviews">
      <%= reviews.count %>
    </div>
  <% end %>
</span>
