.chatroom-card {
  background-color: white;
  box-shadow: var(--dp4);
  display: flex;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;

  .placeholder-profile-pic {
    border: 1px solid var(--dark-2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-2);
  }

  .pic-and-placeholder {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;

    img {
      width: 40px;
    }
  }

  p {
    margin: 0;
    margin-right: 10px;
  }

}