// Place all the styles related to the filaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#filaments-new {
  #filament-color-radio-buttons, #filament-type-radio-buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    div {
      display: flex;
      align-items: center;
      margin: 0px 10px 20px 10px;

      input {
        margin-right: 5px;
      }
  
      label {
        margin: 0;
      }
    }

  }

}