// Place all the styles related to the owners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.placeholder_profile_pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 1px solid var(--dark-2);
}
