<%= cl_image_tag "https://res.cloudinary.com/sazza/image/upload/v1621583328/hero_image_xqfmbm.png", crop: :scale, width: 1080, cloud_name: 'sazza', style: "width: 100vw; position: absolute; z-index: -100;" %>
<div style="background-color: black; width: 220px; height: 300px; display: flex; justify-content: center; align-items: center;">
  <%= cl_image_tag "https://res.cloudinary.com/sazza/image/upload/v1621586175/print3d_logo_white_erl3fm.svg", crop: :scale, width: 200, cloud_name: 'sazza' %>
</div>

<%= render partial: 'shared/address_search', locals: { default_address: @address } %>

<div class="search-results">
  <% @nearby_owners.each do |owner| %>
    <% unless owner.printers.length.zero? %>
      <%= render partial: 'shared/user_card', locals: { user: owner } %>
    <% end %>
  <% end %>
</div>
